<header class="hg-site-header">
		{{#if @blog.logo}}
		<a href="{{@blog.url}}"><div class="blog-logo" style="background-image: url({{@blog.logo}});"></div></a>
		{{/if}}
	<div class="site-meta">
		<h1>{{@blog.title}}</h1>
		{{#is "tag" }}
		<h2>Everything I've written about <span class="tag-name">{{tag.name}}</span></h2>
		{{/is}}
		{{#is "home"}}
		<h2>{{@blog.description}}</h2>
		{{/is}}
		{{#is "page"}}
		<h2>{{@blog.description}}</h2>
		{{/is}}		
	</div>
</header>