<div class="loop">
{{#foreach posts}}
	<section class="{{post_class}} post-listing">
		<div class="post-img">
		{{#if feature_image}}
		<img class="post-listing-img" src="{{img_url feature_image}}">
		{{else}}
		<img class="post-listing-img" src="{{img_url @blog.cover_image}}">
		{{/if}}
	</div>
		<div class="post-details">
			<h2><a href="{{url}}">{{{title}}}</a></h2>
			<aside class="post-meta">
				<p>Thoughts {{#if tags}} about <span class="tag-name">{{primary_tag.name}}</span>{{/if}} published {{date published_at timeago="true"}}.</p>
			</aside>
			<section>
			<p>{{excerpt words="20"}}...</p>
			</section>
		</div>
	</section>
{{/foreach}}
</div>

{{pagination}}
